<template>
    <v-container fluid>
        <appStudentGgradebookList></appStudentGgradebookList>
    </v-container>
</template>


<script>
    import StudentGgradebookList from './StudentGgradebookList.vue';

    export default {
        components: {
            appStudentGgradebookList: StudentGgradebookList
        }
    };
</script>


<style>

</style>
