<template>
  <v-container fluid>
    <appGroup></appGroup>
  </v-container>
</template>

<script>
  import Group from './Group.vue';
    export default {
      components: {
        appGroup: Group
      }
    };
</script>

<style>

</style>
