<template>
  <v-container fluid>
    <appHeadTeacherProfileData></appHeadTeacherProfileData>
  </v-container>
</template>


<script>
  import HeadTeacherProfileData from './HeadTeacherProfileData.vue';

  export default {
    components: {
      appHeadTeacherProfileData: HeadTeacherProfileData
    }
  };
</script>



