<template>
  <div>
    <v-stepper v-if="task !== null" v-model="exercise">
      <v-subheader class="primary--text" v-text="task.name"></v-subheader>
      <v-stepper-header>
        <template v-for="(n, index) in steps">
          <v-stepper-step
            :key="index"
            :step="n"
            :complete="currentsResult[index].passed"
            editable
          >
            Exercise {{ n }}
          </v-stepper-step>
          <v-divider v-if="n !== steps" :key="index"></v-divider>
        </template>
      </v-stepper-header>
      <v-stepper-content
        :step="n"
        v-for="(n, index) in steps"
        :key="index"
      >
        <v-card class="mb-5 elevation-0" height="350px">
          <v-layout column>
            <v-flex>
              <v-card-text>
                <div>
                  {{ task.exercises[index].text }}
                </div>
              </v-card-text>
            </v-flex>

            <v-flex>
              <v-card-text>
                <v-text-field v-model="currentsResult[index].studentAnswer" label="Your answer"></v-text-field>
              </v-card-text>
            </v-flex>
          </v-layout>
        </v-card>
        <v-flex xs12>
          <v-btn color="primary" @click="prevStep(n)">Prev</v-btn>
          <v-btn color="primary" @click="nextStep(n)">Next</v-btn>
          <template v-if="task.isTest" >
            <v-btn :disabled="currentsResult[index].passed" @click="check" color="success">Check</v-btn>
            <v-btn :disabled="currentsResult[index].passed" @click="giveUp" color="warning">Give up</v-btn>
          </template>
        </v-flex>
        <v-flex xs12>
          <v-btn v-if="task.isTest" @click="saveResults" color="error">Save you results</v-btn>
          <v-btn v-else @click="submitForReview" color="error">Submit for review</v-btn>
        </v-flex>
      </v-stepper-content>
    </v-stepper>
  </div>
</template>


<script>
  export default {
    data () {
      return {
        marks: {
          numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9],
          smallLetters: [
            {number: 1, mark: 'a'}, {number: 2, mark: 'b'}, {number: 3, mark: 'c'}, {number: 4, mark: 'd'}, {number: 5, mark: 'e'}, {number: 6, mark: 'f'}, {number: 7, mark: 'g'}, {number: 8, mark: 'h'}, {number: 9, mark: 'i'}
          ],
          bigLetters: [
            {number: 0, mark: 'A'}, {number: 1, mark: 'B'}, {number: 2, mark: 'C'}, {number: 3, mark: 'D'}, {number: 4, mark: 'E'}, {number: 5, mark: 'F'}, {number: 6, mark: 'G'}, {number: 7, mark: 'H'}, {number: 8, mark: 'I'}, {number: 9, mark: 'J'}
          ]
        },
        currentsResult: [],
        task: null,
        exercise: 1,
        steps: 10
      }
    },
    watch: {
      steps (val) {
        if (this.exercise > val) {
          this.exercise = val
        }
      }
    },
    methods: {
      submitForReview() {
        let results = this.currentsResult.map(result => result.studentAnswer);
        this.$http.post(`task/${this.$route.params.id}/check-kr`, { results })
          .then(data => {
            const taksResult = {
              taskId: this.$route.params.id,
              mark: data.body.finalMark
            }
            console.log(taksResult);
            this.$http.put('student/set-mark', { taksResult });
          });
      },
      saveResults() {
        let finalMark = '';
        finalMark = this.currentsResult.reduce((mark, exerciseResult) => {
          if (exerciseResult.countTry === 0) return (mark + exerciseResult.mark);
          if (!exerciseResult.passed && !exerciseResult.giveUp) return (mark + this.marks.smallLetters.find(el => el.number === exerciseResult.countTry).mark);
          if (exerciseResult.passed) return (mark + exerciseResult.mark);
        }, finalMark);
        const taksResult = {
          taskId: this.$route.params.id,
          mark: finalMark
        }
        this.$http.put('student/set-mark', { taksResult });
      },
      initialize() {
        for (let i = 0; i < this.steps; ++i) {
          this.currentsResult.push({ exersice: i, studentAnswer: '', mark: 0, countTry: 0, giveUp: false, passed: false });
        }
      },
      check() {
        const exerciseNumber = this.exercise - 1;
        if (this.currentsResult[exerciseNumber].passed) return;
        const studentAnswer = this.currentsResult[exerciseNumber].studentAnswer;
        if (studentAnswer === '') return;
        this.$http.get(`task/${this.$route.params.id}/check-answer/${exerciseNumber}/${studentAnswer}`)
          .then(({ body }) => {
            if (this.currentsResult[exerciseNumber].countTry !== 9) {
              ++this.currentsResult[exerciseNumber].countTry;
              ++this.currentsResult[exerciseNumber].mark;
            }
            if (body.correct) {
              this.currentsResult[exerciseNumber].passed = true;
            }
          });
      },
      giveUp() {
        const exerciseNumber = this.exercise - 1;
        if (this.currentsResult[exerciseNumber].passed) return;
        this.$http.get(`task/${this.$route.params.id}/show-solution/${this.exercise - 1}`)
          .then(({ body }) => {
            this.currentsResult[exerciseNumber].passed = true;
            this.currentsResult[exerciseNumber].giveUp = true;
            this.currentsResult[exerciseNumber].mark = this.marks.bigLetters.find(el => el.number === this.currentsResult[exerciseNumber].countTry).mark;
          });
      },
      onInput (val) {
        this.steps = parseInt(val)
      },
      nextStep (n) {
        if (n === this.steps) {
          this.exercise = 1
        } else {
          this.exercise = n + 1
        }
      },
      prevStep (n) {
        if (n === 1) {
          this.exercise = this.steps
        } else {
          this.exercise = n - 1
        }
      }
    },
    created() {
      this.$http.get(`task/${this.$route.params.id}`)
        .then(res => { this.task = res.body; });
      this.initialize();
    }
  }
</script>

