<template>
  <v-container fluid>
    <appTask></appTask>
  </v-container>
</template>

<script>
  import Task from './Task.vue';

  export default {
    components: {
      appTask: Task
    }
  };
</script>
